body {
    background-image: url("img/bos3.png");
    background-color: #66ccff;
    height: 50px;
    align-content: center;
}
.badan {
    margin-top: 250px;

}

body h1{
    text-align: center;
    color: aliceblue;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    

}

body h3{
    text-align: center;
    color: aliceblue;
}

.logo h1{
    text-align: left;
    margin: 0%;
    background-color:#66ccff;
    padding: 10px;
    margin: 0px,0px, 0px, 0px;
    text-decoration: none;  
}

.badan h1 {
    text-align: center;
    color: black;
}

.badan h3 {
    text-align: center;
    color: black;
}

.header {
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
    background-color:black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    font-weight: 900;
    display: inline-block;
    /* border: 1px solid black; */
  }

  #logo {
    font-size: 50px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: aliceblue;
    width: 150px;
    /* border: 1px solid black; */
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    text-decoration-line: none;
    text-decoration-color: none;
      
  }